{% extends "base.html" %}

{% block content %}
  <h2>{{ car.model }}</h2>
  <p><strong>Manufacturer:</strong> {{ car.manufacturer.name }}</p>
  <p><strong>Country:</strong> {{ car.manufacturer.country }}</p>
  {% if car.drivers %}
    <h3>Drivers</h3>
    <table class="table">
      <thead>
      <tr>
        <th>Full name</th>
        <th>License number</th>
      </tr>
      </thead>
      <tbody>
      {% for driver in car.drivers.all %}
        <tr>
          <td><a href="{% url 'taxi:driver-detail' driver.id %}">{{ driver.first_name }} {{ driver.last_name }}</a></td>
          <td>{{ driver.license_number }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There are no drivers</p>
  {% endif %}
{% endblock %}
