{% extends "base.html" %}

{% block content %}
  <h1>Drivers</h1>
  {% if driver_list %}
    <table class="table">
      <thead>
      <tr>
        <th>id</th>
        <th>Full name</th>
        <th>Licence number</th>
      </tr>
      </thead>
      <tbody>
      {% for driver in driver_list %}
        <tr>
          <td>{{ driver.id }}</td>
          <td><a href="{% url 'taxi:driver-detail' driver.id %}">{{ driver.first_name }} {{ driver.last_name }}</a></td>
          <td>{{ driver.license_number }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
