{% extends "base.html" %}

{% block content %}
  <h1>Manufacturers</h1>
  {% if manufacturer_list %}
    <table class="table">
      <thead>
      <tr>
        <th>id</th>
        <th>Manufacturer</th>
        <th>Country</th>
      </tr>
      </thead>
      <tbody>
      {% for manufacturer in manufacturer_list %}
        <tr>
          <td>{{ manufacturer.id }}</td>
          <td>{{ manufacturer.name }}</td>
          <td>{{ manufacturer.country }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There are no manufacturers</p>
  {% endif %}
{% endblock %}
